<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="login-container">
        <form action="/login" method="post">
            <p>Логин</p>
            <input type="text" name="username"/>
            <p>Пароль</p>
            <input type="password"name="password">
            <div>
                <button type="submit">Войти</button>
            </div>
        </form>
    </div>

    <a href="/registration">Зарегистрироваться</a>

</div>
</body>
</html>